PaymentContext.Domain/bin/Debug/net6.0/PaymentContext.Domain.dll
PaymentContext.Domain/bin/Debug/net6.0/PaymentContext.Domain.pdb
PaymentContext.Domain/bin/Debug/net6.0/ref/PaymentContext.Domain.dll
PaymentContext.Domain/obj/Debug/net6.0/PaymentContext.Domain.assets.cache
PaymentContext.Domain/obj/Debug/net6.0/PaymentContext.Domain.csproj.AssemblyReference.cache
PaymentContext.Domain/obj/Debug/net6.0/PaymentContext.Domain.csproj.CoreCompileInputs.cache
PaymentContext.Domain/obj/Debug/net6.0/PaymentContext.Domain.dll
PaymentContext.Domain/obj/Debug/net6.0/PaymentContext.Domain.GeneratedMSBuildEditorConfig.editorconfig
PaymentContext.Domain/obj/Debug/net6.0/PaymentContext.Domain.pdb
PaymentContext.Domain/obj/Debug/net6.0/ref/PaymentContext.Domain.dll
PaymentContext.Shared/obj/Debug/net6.0/PaymentContext.Shared.assets.cache
PaymentContext.Shared/obj/Debug/net6.0/PaymentContext.Shared.GeneratedMSBuildEditorConfig.editorconfig
PaymentContext.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
PaymentContext.Tests/bin/Debug/net6.0/PaymentContext.Domain.dll
PaymentContext.Tests/bin/Debug/net6.0/PaymentContext.Domain.pdb
PaymentContext.Tests/bin/Debug/net6.0/PaymentContext.Tests.dll
PaymentContext.Tests/bin/Debug/net6.0/PaymentContext.Tests.pdb
PaymentContext.Tests/bin/Debug/net6.0/ref/PaymentContext.Tests.dll
PaymentContext.Tests/obj/Debug/net6.0/PaymentContext.Tests.assets.cache
PaymentContext.Tests/obj/Debug/net6.0/PaymentContext.Tests.csproj.AssemblyReference.cache
PaymentContext.Tests/obj/Debug/net6.0/PaymentContext.Tests.csproj.CoreCompileInputs.cache
PaymentContext.Tests/obj/Debug/net6.0/PaymentContext.Tests.dll
PaymentContext.Tests/obj/Debug/net6.0/PaymentContext.Tests.GeneratedMSBuildEditorConfig.editorconfig
PaymentContext.Tests/obj/Debug/net6.0/PaymentContext.Tests.pdb
PaymentContext.Tests/obj/Debug/net6.0/ref/PaymentContext.Tests.dll
